@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Color Variables */
/* Fonts */
/* Font Size Variables */
/* Padding */
/* line 24, scss/main.scss */
.main-wrapper p {
  text-align: center;
  font-size: fontSize(20px);
  font-family: "Open Sans", sans-serif; }

/* line 30, scss/main.scss */
.nav {
  display: block;
  background: red; }
  /* line 33, scss/main.scss */
  .nav ul {
    background: #363636;
    height: 75px; }
  /* line 38, scss/main.scss */
  .nav ul li {
    background: #363636;
    list-style: none;
    max-width: 200px;
    z-index: 99;
    float: left;
    padding: 20px; }
  /* line 47, scss/main.scss */
  .nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    vertical-align: middle; }
    /* line 53, scss/main.scss */
    .nav a:hover {
      color: royalblue; }

/* line 59, scss/main.scss */
.heading, .banner h1, .footer h3 {
  color: orange;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center; }

/* line 73, scss/main.scss */
.banner h1:hover {
  background: green; }

/* line 85, scss/main.scss */
.banner p {
  font-size: 40px;
  font-family: "Open Sans", sans-serif; }
